# Tuples

Tuples can contain an array of objects but they are immutable meaning the data cannot be changed. Tuples are like immutable lists. Main use case for Tuples are those that need not be changed like list of week days etc...

Tuples ensures data integrity.

### Creating Tuples

In [10]:
t1 = (1,2,3)
type(t1)

tuple

In [12]:
# Tuples can contain mixed object types
t2 = (1,'two',['three','four','five'],{'key':'value'})
print(type(t2))
t2

<class 'tuple'>

(1, 'two', ['three', 'four', 'five'], {'key': 'value'})

In [14]:
t2[0]

1

In [3]:
t2[2][2]

'five'

In [4]:
t2[3]['key']

'value'

In [21]:
t3 = (1)
t3

1

In [29]:
t3 = (1,2,3)
t4 = ('a','b')
t3 + t4

(1, 2, 3, 'a', 'b')

In [31]:
t3 * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

### Immutability

In [8]:
# tuples are immutable

t2[0]=2 # this will create an error
t2

TypeError: 'tuple' object does not support item assignment

In [7]:
# although tuples are immutable if the object in the tuple is mutable then data can be changed
t2[3]['key']='no value'
t2

(1, 'two', ['three', 'four', 'five'], {'key': 'no value'})

In [9]:
t2[2].append('six')
t2

(1, 'two', ['three', 'four', 'five', 'six'], {'key': 'no value'})

### Indexing and Slicing

In [15]:
t2[0:2]

(1, 'two')

In [16]:
t2[-1]

{'key': 'value'}

In [17]:
len(t2)

4

In [18]:
t2[::-1]

({'key': 'value'}, ['three', 'four', 'five'], 'two', 1)

### Tuples Methods

In [19]:
# index gives the position of the element
t2.index(1)

0

In [20]:
# count of elements present in the tuple
t2.count(1)

1

In [24]:
# cannot delete tuple element
print(t2)
del(t2[2])
t2

(1, 'two', ['three', 'four', 'five'], {'key': 'value'})

TypeError: 'tuple' object doesn't support item deletion

In [26]:
t2
del(t2)
t2

NameError: name 't2' is not defined

### Iterating through a Tuple

In [23]:
for name in ('John','Jack'):
    print ("Hello ", name)

Hello  John
Hello  Jack

### Tuple Membership Test

In [27]:
t3 = ('a','b','c','d')
'a' in t3

True

In [28]:
'z' in t3

False